<!DOCTYPE html>
<html>
    <head>
        <title>
            Feedback form
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round">

        
        {% load static %}
        

        <link rel="stylesheet" href="{% static 'main-dark.css' %}">
    </head>
    <body style="background-color: black;">

        <div class="upper-block1"> 

            <div class="block13" onclick="location.href='{% url 'members:pjkt1_dark' %}'"> Cryptochain </div>
            <div class="low-block"> hidden </div>
            <div class="low-block"> hidden </div>
            <div class="low-block"> hidden </div>
            <div class="low-block"> hidden </div>
            <div class="low-block"> hid </div>
     
            
            
     
            <div class="block14-2" onclick="location.href='{% url 'members:pjkt2_dark' %}'"> Menu </div>
            <div class="low-block"> hidden </div>
     
            <div class="block14"> Prices </div>
            <div class="low-block"> hidden </div>
     
            <div class="block14"> Learn </div>
            <div class="low-block"> hidden </div>
     
            <div class="block14"> Developers </div>
            <div class="low-block"> hidden </div>
     
            <div class="block14"> Company </div>
            <div class="low-block"> hidden </div>
            <div class="low-block"> hidden </div>
            
     
            <div class="block14">Sign in </div>
            <div class="low-block"> h </div>
     
            <input class="local-block5" type="button" value="Get Started">
            <div class="low-block"> hidden </div>
            <div class="low-block"> hidden </div>
            <div class="low-block"> hidden </div>
            <div class="low-block"> hid </div>
            
            <div class="upper-block5">
             <div class="sub-block5">  </div>
              
              <button type="button" class="local-block9" onclick="location.href='{% url 'members:pjkt2' %}'"> <span class="material-icons"> light_mode </span> </button>
              <button type="button" class="local-block10" onclick="location.href='{% url 'members:pjkt2_dark' %}'"> <span class="material-icons"> dark_mode </span> </button>
      
              </div>
     
            </div>
     
            <marquee direction="right" style="color: #b085f5"> Let's start 2023 with more Bitcoins! Happy New Year!! </marquee>
            <br> <br> <br> <br> <br> <br>

    <div class="upper-block6">

        <div class="a1">

            <div class="b1"> Guide <div class="c"> A comprehensive guide to start investing </div> </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;

            <div class="b1" onclick="location.href='{% url 'members:add' %}'"> Invest <div class="c"> Start investing here</div> </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;

            <div class="b1" onclick="location.href='{% url 'members:index' %}'"> Portfolio <div class="c"> Manage your portfolio </div> </div>

        </div>
                  
                   <br> <br> <br> <br>

        <div class="a1">

            <div class="b1"> Mining <div class="c"> Start mining Bitcoin </div> </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;

            <div class="b1"> Blockchain <div class="c"> Authenthicate the Transaction </div> </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;

            <div class="b1"> Status <div class="c"> Current Status of Cryptochain </div> </div>

        </div>

    </div>

    <br> <br> <br> <br> <br> <br>

    <div class="main-block">

        <div class="sub-block4">
              
             <div class="upper-block4">

                <div class="block13"> Cryptochain </div>

                <div class="low-block"> hidden </div>

                <select style="border-radius: 9px; border: none; padding: 9px; font-family: 'Varela Round', sans-serif; cursor:pointer; background-color: black; color: white;">

                    <option> English </option>
                    <option> Thai </option>
                    <option> Hindi </option>
                    <option> Chinese </option>
                    <option> French </option>
                    <option> German </option>
                    <option> Japanese </option>
                    <option> Korean </option>
                    <option> Norwegian </option>
                    <option> Spanish </option>

                    <div class="low-block"> hidden </div>

                </select>

                <div class="local-block6"> Ⓒ 2021 Cryptochain</div>

                <div class="low-block"> hidden </div>

                <div class="local-block7"> Blog • Twitter • Facebook </div>                  

             </div>

             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>

             <div class="upper-block4">
                 
                <div class="block15"> Company </div>
                <div class="low-block"> hidden </div>

                <div class="local-block8" onclick="location.href='{% url 'members:pjkt4_dark' %}'"> About</div>
                <div class="local-block8"> careers </div>
                <div class="local-block8"> Affiliates </div>
                <div class="local-block8"> Blogs </div>
                <div class="local-block8"> Press </div>
                <div class="local-block8"> Investors </div>
                <div class="local-block8"> legal & privacy </div>
                <div class="local-block8"> Cookie policy </div>
                <div class="local-block8"> Cookie prefrences </div>

             </div>

             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>

             <div class="upper-block4"> 

                <div class="block15"> Individuals </div>
                <div class="low-block"> hidden </div>

                <div class="local-block8"> Buy & Sell </div>
                <div class="local-block8"> Wallets </div>
                <div class="local-block8"> Card </div>
                <div class="local-block8"> Browse crypto prices </div>
                <div class="local-block8"> Cryptochain newsletter </div>
                <div class="local-block8"> Learn crypto </div>
                <div class="local-block8"> What is Bitcoin? </div>
                <div class="local-block8"> Taxes </div>


             </div>

             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>
             <div class="low-block"> hidden </div>

             <div class="upper-block4"> 

                <div class="block15"> Support </div>
                <div class="low-block"> hidden </div>

                <div class="local-block8" onclick="location.href='{% url 'members:send_email1' %}'"> Feedback </div>
                <div class="local-block8"> Help Center </div>
                <div class="local-block8"> Contact Us </div>
                <div class="local-block8"> Create Account </div>
                <div class="local-block8"> ID verification </div>
                <div class="local-block8"> Account Information </div>
                <div class="local-block8"> Payment methods </div>
                <div class="local-block8"> Account access </div>
                <div class="local-block8"> Supported Crypto </div>
                <div class="local-block8"> Supported Countries </div>

             </div>
           

        </div>



     </div>

    </body>
</html>