<!DOCTYPE html>
<html>
    <head>
        <title>
            Feedback form
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round">

        
        {% load static %}
        

        <link rel="stylesheet" href="{% static 'main.css' %}">

        <script>


        </script>
        

        <style>
        
        .i1{ margin-right: 60px;
            height: 500px;
            width: 700px;
            border-radius: 9px;}

        .i2{margin-left: 150px;
            height: 350px;
            width: 80%;
            border-radius: 9px;}

        .i3{margin-left: 50px;
            height: 500px;
            width: 800px;
            border-radius: 9px;}

        .i4{margin-left: 400px;
            height:250px;
            width:400px;
            border-radius: 9px;}


        </style>


    </head>

    <body>

        
       <div class="upper-block1"> 

       <div class="block13" onclick="location.href='{% url 'pjkt1' %}'"> Cryptochain </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hid </div>

       
       

       <div class="block14" onclick="location.href='{% url 'pjkt2' %}'"> Menu </div>
       <div class="low-block"> hidden </div>

       <div class="block14"> Prices </div>
       <div class="low-block"> hidden </div>

       <div class="block14"> Learn </div>
       <div class="low-block"> hidden </div>

       <div class="block14"> Developers </div>
       <div class="low-block"> hidden </div>

       <div class="block14"> Company </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hidden </div>
       

       <div class="block14">Sign in </div>
       <div class="low-block"> h </div>

       <input class="local-block5" type="button" value="Get Started">
       <div class="low-block"> hidden </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hid </div>
       
       <div class="upper-block5">
        <div class="sub-block5">  </div>
         
         <button type="button" class="local-block9" <!onclick="location.href='{% url 'pjkt1' %}'"> <span class="material-icons"> light_mode </span> </button>
         <button type="button" class="local-block10" onclick="location.href='{% url 'pjkt1_dark' %}'"> <span class="material-icons"> dark_mode </span> </button>
 
         </div>

       </div>

       <marquee direction="right" style="color: #4d2c91"> Let's start 2023 with more Bitcoins! Welcome Aboard!! </marquee>
        
       
       <div class="low-block"> hidden </div>
       <div class="low-block"> hidden </div>
       <div class="low-block"> hid </div>
       <div class="low-block"> h </div>
            
        <div class="main-block">

           

            <div class="sub-block1">

              Jump start your crypto portfolio
              <br>

                 <div class="low-block"> hidden </div>

                 <div class="block1">  Cryptochain is the easiest place to buy and sell cryptocurrency. </div>

                 <div class="low-block"> hidden </div>

                 <div class="block2"> Sign up and get started today. </div>

                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
            
                 <div class="main-block">
                    <input class="block3" type="email" placeholder="Email Address">
                    <input class="block4" type="button" value="Get Started">
                 </div>

            </div>

            <img class="i1" src="{% static '1.jpg' %}">   

        </div>
        <br> <br> <br> <br> <br> <br>

                  <img class="i2" src="{% static '3.png' %}">
                  <br> <br> <br> <br> <br>

             <div class="block5"> Create your cryptocurrency profile today </div>
             <br>

             <div class="local-block1"> Cryptochain has a variety of features that make it the best place to start trading </div>
             <br> <br> <br> <br> <br> <br> <br>

         <div class="main-block">

             <div class="sub-block2">
                 <div class="low-block"> hidden </div>

                 <div class="block6">
                    <span class="material-icons-round"> bar_chart </span>
                    Manage your portfolio
                 </div>

                 <div class=local-block2> Buy and sell popular digital currencies, keep track of them in the one place. </div>

                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>

                 <div class="block6">
                    <span class="material-icons-round"> insert_invitation </span>
                    Recurring buy
                 </div>

                    <div class=local-block2> Invest in cryptocurrency slowly over time by scheduling buys daily, weekly, or monthly. </div>

                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 
                 <div class="block6">
                    <span class="material-icons-round"> smartphone </span>
                    Mobile Apps
                 </div>

                    <div class=local-block2> Stay on top of the markets with the Cryptochain app for Android or iOS. </div>


             </div>

             <img class="i3" src="{% static '4.png' %}">

         </div>


         <br> <br> <br> <br> <br> <br> <br>

        <div class="upper-block2"> 

             <div class="local-block3"> $327B &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 100+ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;70+M</div>
             <div class="local-block4"> Quartely volume traded &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Countries Supported &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Verified users</div>

        </div>

         <br> <br> <br> <br> <br> <br> <br> <br>

         <div class="block5"> &nbsp; &nbsp; &nbsp; The most trusted cryptocurrency platform </div>

         <br> <br> <br> <br>

         <div class="block7"> 

             <span class="material-icons" style="font-size: 50px;"> cloud_done &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; history_edu &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; verified_user  </span> 
             
         </div>

         <div class="low-block"> hidden </div>

         <div class="block8">
          
            &nbsp; &nbsp; &nbsp; &nbsp; Secure storage &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Protected by insurance &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Industry best practices

         </div>

         <br> <br> <br> <br> <br> <br> <br> <br>

         <div class="main-block">

         <div class="upper-block3">

            <div class="sub-block3">

                <div class="block9">

                    Earn Upto $10 worth of crypto

                </div>
                
                <div class="low-block"> hidden </div>
                <div class="low-block"> hidden </div>


                <div class="block10">

                    Discover how specific cryptocurrencies work
                </div>

                <div class="block11">

                    — and get a bit of each crypto to try out for yourself.

                </div>

                <div class="low-block"> hidden </div>
                <div class="low-block"> hidden </div>

                 <div class="main-block">

                   <input class="block12" type="button" value="Start Earning">

                 </div>

            </div>
        
            <img class="i4" src="{% static '5.png' %}">

            </div>
            
         </div>

        <br> <br> <br> <br>

         <div class="main-block">

            <div class="sub-block4">
                  
                 <div class="upper-block4">

                    <div class="block13"> Cryptochain </div>

                    <div class="low-block"> hidden </div>

                    <select style="border-radius: 9px; border: none; padding: 9px; font-family: 'Varela Round', sans-serif; cursor:pointer;">

                        <option> English </option>
                        <option> Thai </option>
                        <option> Hindi </option>
                        <option> Chinese </option>
                        <option> French </option>
                        <option> German </option>
                        <option> Japanese </option>
                        <option> Korean </option>
                        <option> Norwegian </option>
                        <option> Spanish </option>

                        <div class="low-block"> hidden </div>

                    </select>

                    <div class="local-block6"> Ⓒ 2021 Cryptochain</div>

                    <div class="low-block"> hidden </div>

                    <div class="local-block7"> Blog • Twitter • Facebook </div>                  

                 </div>

                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>

                 <div class="upper-block4">
                     
                    <div class="block15"> Company </div>
                    <div class="low-block"> hidden </div>

                    <div class="local-block8" onclick="location.href='{% url 'pjkt4' %}'"> About</div>
                    <div class="local-block8"> careers </div>
                    <div class="local-block8"> Affiliates </div>
                    <div class="local-block8"> Blogs </div>
                    <div class="local-block8"> Press </div>
                    <div class="local-block8"> Investors </div>
                    <div class="local-block8"> legal & privacy </div>
                    <div class="local-block8"> Cookie policy </div>
                    <div class="local-block8"> Cookie prefrences </div>

                 </div>

                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>

                 <div class="upper-block4"> 

                    <div class="block15"> Individuals </div>
                    <div class="low-block"> hidden </div>

                    <div class="local-block8"> Buy & Sell </div>
                    <div class="local-block8"> Wallets </div>
                    <div class="local-block8"> Card </div>
                    <div class="local-block8"> Browse crypto prices </div>
                    <div class="local-block8"> Cryptochain newsletter </div>
                    <div class="local-block8"> Learn crypto </div>
                    <div class="local-block8"> What is Bitcoin? </div>
                    <div class="local-block8"> Taxes </div>


                 </div>

                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>
                 <div class="low-block"> hidden </div>

                 <div class="upper-block4"> 

                    <div class="block15"> Support </div>
                    <div class="low-block"> hidden </div>

                    <div class="local-block8" onclick="location.href='{% url 'send_email' %}'"> Feedback </div>
                    <div class="local-block8"> Help Center </div>
                    <div class="local-block8"> Contact Us </div>
                    <div class="local-block8"> Create Account </div>
                    <div class="local-block8"> ID verification </div>
                    <div class="local-block8"> Account Information </div>
                    <div class="local-block8"> Payment methods </div>
                    <div class="local-block8"> Account access </div>
                    <div class="local-block8"> Supported Crypto </div>
                    <div class="local-block8"> Supported Countries </div>

                 </div>
               

            </div>



         </div>
         
        
         


    </body>

</html>