anyio==3.6.2
apparmor==3.1.3
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
asttokens==2.2.1
attrs==22.2.0
Authlib==1.2.1
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
Beaker==1.12.1
beautifulsoup4==4.6.3
bleach==6.0.0
bodhi-client==7.2.1
bottle==0.12.25
Brlapi==0.8.4
bs4==0.0.1
bt-dualboot==1.0.1
cachetools==5.3.0
CCColUtils==1.5
certifi==2022.9.24
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
comm==0.1.2
configobj==5.0.8
construct==2.10.68
contourpy==1.0.7
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
Django==4.1.7
dnspython==2.3.0
evdev==1.6.0
executing==1.2.0
fake-useragent==1.2.1
fastjsonschema==2.16.2
fedora-third-party==0.10
fedpkg==1.44
file-magic==0.4.0
filelock==3.8.2
fonttools==4.38.0
fqdn==1.5.1
fros==1.1
future==0.18.3
gbinder-python==1.1.1
gitdb==4.0.9
GitPython==3.1.30
gpg==1.17.1
gssapi==1.7.3
humanize==3.13.1
idna==3.4
inputs==0.5
install==1.3.5
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.0.3
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kerberos==1.3.0
kitchen==1.2.6
kiwisolver==1.4.4
koji==1.33.0
langtable==0.0.62
LibAppArmor==3.1.3
libcomps==0.1.18
libvirt-python==9.0.0
lockfile==0.12.2
lutris==0.5.13
lxml==4.9.2
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
meson==1.2.0
MiniSom==2.3.0
mistune==2.0.5
moddb==0.8.1
munch==2.5.0
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.1
nftables==0.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
notify2==0.3.1
numpy==1.24.2
oauthlib==3.2.2
olefile==0.46
openidc-client==0.7.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
Paste==3.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
plotly==5.16.0
ply==3.11
progressbar2==3.53.2
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pybeam==0.7
pycairo==1.23.0
pyclip==0.7.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.17.0
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pygit2==1.12.2
Pygments==2.14.0
PyGObject==3.44.1
pykickstart==3.47
pyOpenSSL==21.0.0
pyparsing==3.0.9
pypresence==4.3.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyrate-limiter==2.8.1
pyroute2==0.7.3
pyrsistent==0.19.3
PySide6-Essentials==6.4.2
PySocks==1.7.1
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-fedora==1.1.1
python-json-logger==2.0.7
python-socks==2.3.0
python-utils==3.3.3
python-yubico==1.3.3
pytz==2023.3
pyusb==1.2.1
pyxdg==0.27
PyYAML==6.0
pyzmq==25.0.0
regex==2023.6.3
requests==2.28.2
requests-file==1.5.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpkg==1.66
rpm==4.18.1
rpmautospec==0.3.5
rpmlint==2.4.0
scikit-learn==1.2.1
scipy==1.10.1
scour==0.38.2
seaborn==0.12.2
selinux==3.5
Send2Trash==1.8.0
sepolicy==3.5
setools==4.4.2
setproctitle==1.2.3
shiboken6==6.4.2
simpleaudio==1.0.4
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
sniffio==1.3.0
sos==4.5.1
soupsieve==2.4.1
sqlparse==0.4.3
stack-data==0.6.2
steam==1.4.4
systemd-python==235
Tempita==0.5.2
templated-dictionary==1.2
tenacity==8.2.3
terminado==0.17.1
textblob==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tldextract==3.4.4
tomli_w==1.0.0
toolz==0.11.2
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
ujson==5.8.0
uri-template==1.2.0
urllib3==1.26.16
vaderSentiment==3.3.2
VapourSynth==58
vdf==3.4
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
zstandard==0.21.0
